body {
  margin: 0;
  background-color: black;
  max-height: 100vh;

  /* font-family: 'MyCustomOTF', sans-serif; */
  /* background-color: black; */
}
/* 
@font-face {
  font-family: 'MyCustomOTF';
  src: url('./assets/fonts/CrozierBlackCF-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */